In [1]:
import urllib.request
import pandas as pd
import numpy as np
import json
import time
from datetime import datetime
from typing import Final

# open a connection to a URL using urllib, read the data from the url and decode byte obj to string.
data  = urllib.request.urlopen('https://analytics.indigoprotocol.io/api/liquidations').read().decode("utf-8")

df_ada_sp = pd.DataFrame(json.loads(data))
df_ada_sp = df_ada_sp.drop(["slot", "output_hash", "output_index", "updated_at"], axis=1)

df_ada_sp["created_at"] = pd.Series(df_ada_sp["created_at"], dtype="string")

df_ada_sp[["date", "time"]] = df_ada_sp.created_at.apply(lambda x: pd.Series(str(x).split("T")))

df_ada_sp = df_ada_sp.drop(["time", "created_at"], axis=1)
df_ada_sp["date"] = pd.to_datetime(df_ada_sp["date"])

df_ada_sp["ref_date"] = pd.to_datetime("2022-11-27")

df_ada_sp

,id,asset,collateral_absorbed,iasset_burned,oracle_price,ada_price,date,ref_date
0,1,iUSD,100000000,176244062,3.260515,0.308320,2023-01-24,2022-11-27
1,2,iUSD,1250000000,347795476,3.301604,0.300700,2023-01-24,2022-11-27
2,3,iUSD,363176440,100000000,3.337594,0.300750,2023-01-24,2022-11-27
3,4,iUSD,100000000,28477820,3.226035,0.310145,2023-01-24,2022-11-27
4,5,iUSD,1755752350,500000000,3.226035,0.309825,2023-01-24,2022-11-27
...,...,...,...,...,...,...,...,...
1879,1901,iUSD,50000000,15019713,2.802250,0.357900,2023-11-18,2022-11-27
1880,1902,iBTC,56361026,496,103776.375858,0.351703,2023-11-18,2022-11-27
1881,1903,iUSD,84847182,26477714,2.681173,0.373620,2023-11-19,2022-11-27
1882,1904,iUSD,30000000,9230000,2.710107,0.369925,2023-11-22,2022-11-27
1883,1905,iETH,143170057,24009,5423.015729,0.382434,2023-11-23,2022-11-27

In [2]:
def calc_epoch(x,y) -> int:
    return 379 + ((x - y).days)//5

vec_epoch_calc = np.vectorize(calc_epoch)
df_ada_sp["epoch"] = vec_epoch_calc(df_ada_sp["date"].to_list(), df_ada_sp["ref_date"].to_list())

df_ada_sp[["oracle_price", "ada_price"]] = df_ada_sp[["oracle_price", "ada_price"]].astype(float)

print(df_ada_sp.dtypes)

def get_value_gained(a,b,c,d) -> float:
    return ((a/1000000)-((b/1000000)*c))*d

vec_value_gained = np.vectorize(get_value_gained)
df_ada_sp["value_gained"] = vec_value_gained(df_ada_sp["collateral_absorbed"].to_list(), df_ada_sp["iasset_burned"].to_list(), df_ada_sp["oracle_price"].to_list(), df_ada_sp["ada_price"].to_list())

df_ada_sp

id                              int64
asset                          object
collateral_absorbed             int64
iasset_burned                   int64
oracle_price                  float64
ada_price                     float64
date                   datetime64[ns]
ref_date               datetime64[ns]
epoch                           int32
dtype: object

,id,asset,collateral_absorbed,iasset_burned,oracle_price,ada_price,date,ref_date,epoch,value_gained
0,1,iUSD,100000000,176244062,3.260515,0.308320,2023-01-24,2022-11-27,390,-146.342980
1,2,iUSD,1250000000,347795476,3.301604,0.300700,2023-01-24,2022-11-27,390,30.586322
2,3,iUSD,363176440,100000000,3.337594,0.300750,2023-01-24,2022-11-27,390,8.847175
3,4,iUSD,100000000,28477820,3.226035,0.310145,2023-01-24,2022-11-27,390,2.521341
4,5,iUSD,1755752350,500000000,3.226035,0.309825,2023-01-24,2022-11-27,390,44.222825
...,...,...,...,...,...,...,...,...,...,...
1879,1901,iUSD,50000000,15019713,2.802250,0.357900,2023-11-18,2022-11-27,450,2.831350
1880,1902,iBTC,56361026,496,103776.375858,0.351703,2023-11-18,2022-11-27,450,1.719104
1881,1903,iUSD,84847182,26477714,2.681173,0.373620,2023-11-19,2022-11-27,450,5.176823
1882,1904,iUSD,30000000,9230000,2.710107,0.369925,2023-11-22,2022-11-27,451,1.844340
1883,1905,iETH,143170057,24009,5423.015729,0.382434,2023-11-23,2022-11-27,451,4.959738

In [3]:
######change
new2= df_ada_sp.loc[(df_ada_sp['date'] >= '2022-11-27') & (df_ada_sp['date'] <= '2023-11-16')]
rew_buffer1=new2.groupby('asset')##########1
rew_buffer2=rew_buffer1.sum()
print(rew_buffer2.to_string())
print(rew_buffer2['collateral_absorbed'].sum()/1000000)

TypeError: datetime64 type does not support sum operations